<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./css/styles.css" rel="stylesheet" type="text/css" />
    <title>To-Do Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <header></header>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs') %>
        <form>
          <div class="flex gap-2 py-4">
            <div class="flex-auto">
              <input
                type="text"
                placeholder="What's next?"
                class="rounded border border-gray-600 text-gray-900 p-2 text-sm w-full"
                required
              />
            </div>
            <div class="flex-auto">
              <input
                type="date"
                class="rounded border border-gray-600 text-gray-900 p-2 text-sm w-full leading-4"
              />
            </div>
            <div class="flex-no">
              <button
                type="submit"
                class="bg-green-600 text-white rounded px-5 py-1.5 font-medium mr-2 md-2"
              >
                Add
              </button>
            </div>
          </div>
        </form>

        <div>
          <h5>Overdue</h5>
          <ul class="list-no">
            <li>
              <div
                class="flex items-center w-fit m my-2 px-2 py-1 rounded hover:bg-purple-50"
              >
                <input
                  id="todo-checkbox-1"
                  class="text-blue-600 rounded w-4 h-4 bg-gray-100 border border-gray-200 cursor-pointer"
                  type="checkbox"
                />
                <label for="todo-checkbox-1" class="ml-2 text-sm cursor-pointer"
                  >Pay Electricity Bill</label
                >
              </div>
            </li>
            <li>
              <div
                class="flex items-center w-fit m my-2 px-2 py-1 rounded hover:bg-purple-50"
              >
                <input
                  id="todo-checkbox-2"
                  class="text-blue-600 rounded w-4 h-4 bg-gray-100 border border-gray-200 cursor-pointer"
                  type="checkbox"
                />
                <label for="todo-checkbox-2" class="ml-2 text-sm cursor-pointer"
                  >Submit Assignment</label
                >
              </div>
            </li>
            <li>
              <div
                class="flex items-center w-fit m my-2 px-2 py-1 rounded hover:bg-purple-50"
              >
                <input
                  id="todo-checkbox-3"
                  class="text-blue-600 rounded w-4 h-4 bg-gray-100 border border-gray-200 cursor-pointer"
                  type="checkbox"
                />
                <label for="todo-checkbox-3" class="ml-2 text-sm cursor-pointer"
                  >Attend Coding Contest</label
                >
              </div>
            </li>
          </ul>
          <h5>Due Today</h5>
          <ul class="list-no">
            <li>
              <div
                class="flex items-center w-fit m my-2 px-2 py-1 rounded hover:bg-purple-50"
              >
                <input
                  id="todo-checkbox-1"
                  class="text-blue-600 rounded w-4 h-4 bg-gray-100 border border-gray-200 cursor-pointer"
                  type="checkbox"
                />
                <label for="todo-checkbox-1" class="ml-2 text-sm cursor-pointer"
                  >Pay Electricity Bill</label
                >
              </div>
            </li>
            <li>
              <div
                class="flex items-center w-fit m my-2 px-2 py-1 rounded hover:bg-purple-50"
              >
                <input
                  id="todo-checkbox-2"
                  class="text-blue-600 rounded w-4 h-4 bg-gray-100 border border-gray-200 cursor-pointer"
                  type="checkbox"
                />
                <label for="todo-checkbox-2" class="ml-2 text-sm cursor-pointer"
                  >Submit Assignment</label
                >
              </div>
            </li>
            <li>
              <div
                class="flex items-center w-fit m my-2 px-2 py-1 rounded hover:bg-purple-50"
              >
                <input
                  id="todo-checkbox-3"
                  class="text-blue-600 rounded w-4 h-4 bg-gray-100 border border-gray-200 cursor-pointer"
                  type="checkbox"
                />
                <label for="todo-checkbox-3" class="ml-2 text-sm cursor-pointer"
                  >Attend Coding Contest</label
                >
              </div>
            </li>
          </ul>

          <h5>Due Later</h5>
          <ul class="list-no">
            <li>
              <div
                class="flex items-center w-fit m my-2 px-2 py-1 rounded hover:bg-purple-50"
              >
                <input
                  id="todo-checkbox-1"
                  class="text-blue-600 rounded w-4 h-4 bg-gray-100 border border-gray-200 cursor-pointer"
                  type="checkbox"
                />
                <label for="todo-checkbox-1" class="ml-2 text-sm cursor-pointer"
                  >Pay Electricity Bill</label
                >
              </div>
            </li>
            <li>
              <div
                class="flex items-center w-fit m my-2 px-2 py-1 rounded hover:bg-purple-50"
              >
                <input
                  id="todo-checkbox-2"
                  class="text-blue-600 rounded w-4 h-4 bg-gray-100 border border-gray-200 cursor-pointer"
                  type="checkbox"
                />
                <label for="todo-checkbox-2" class="ml-2 text-sm cursor-pointer"
                  >Submit Assignment</label
                >
              </div>
            </li>
            <li>
              <div
                class="flex items-center w-fit m my-2 px-2 py-1 rounded hover:bg-purple-50"
              >
                <input
                  id="todo-checkbox-3"
                  class="text-blue-600 rounded w-4 h-4 bg-gray-100 border border-gray-200 cursor-pointer"
                  type="checkbox"
                />
                <label for="todo-checkbox-3" class="ml-2 text-sm cursor-pointer"
                  >Attend Coding Contest</label
                >
              </div>
            </li>
          </ul>
        </div>

        <%- include('todos.ejs') %> <%- include('footer.ejs') %>
      </div>
    </div>
  </body>
  <footer></footer>
</html>
